@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.main {
  background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 800px;
  position: relative;
}

.counterButton {
  padding: 40px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-size: 150px;
  color: white;
  font-weight: bold;
  background: grey;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 40%;
}

.buttons{
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counterButton:active {
  box-shadow: inset 0 0 1px 1px black;
}

button {
  font-family: "Inconsolata";
  padding: 10px;
  margin:10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: lightblue;
  box-shadow: 0 0 1px 1px black;
  border: none;
}

button:active {
  box-shadow: inset 0 0 1px 1px black;
}

button:focus {
  outline: none;
}

.counterButton.even {
  background-color: #f45641;
}

.counterButton.odd {
  background-color: #4286f4;
}

.counterButton.pink {
  background-color: pink;
}

